body {
    background-color: #8bc34a47;
}

.title {
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 16px;
    color: #231D1D;
    line-height: 22px;
    margin-bottom: 5px;
    font-weight: 700;
}

.sub-title {
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 14px;
    color: #303030;
    line-height: 22px;
    margin-bottom: 0px;
    font-weight: 700;
}


/*-------- 1) We apply a gradient as background and we make its origin the border box (by default it's the padding box).
2) Using the mask property, we apply two opaque layers. The bottom one will cover the whole element and the top one will cover only the padding box (so it will not cover the border area).
3) We exclude the top layer from the bottom one so that only the border area will be shown!
                Now you can adjust the border, gradient, and radius as you want. The only drawback is that this will mask the content so we can move the code to a pseudo-element instead.  ------------*/


/*------- We can also achieve any shape of box using "clip-path: polygone()", we have created innerbox polygone shape using plolygone function which is also with gredient colour and border radius. -----*/


/*----------------- gradient border css ----------------*/

.gradient-border {
    padding: 35px;
    min-height: 65rem;
    position: relative;
}

.gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 3px;
    background-image: linear-gradient(to right, #28BAE2, #FF00FF, #e9c016);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.box-gradient {
    width: 100%;
    height: auto;
    position: relative;
    padding: 3px;
    border-radius: 20px;
    min-height: auto;
}

.inner-box {
    color: #fff;
    padding: 12px;
    height: 100%;
    min-height: 350px;
    border-radius: 5px;
}

.calendar {
    display: block;
    background-color: #54C7CF;
    border-radius: 5px;
    max-width: 175px;
    padding: 0 8px;
    margin-bottom: 15px;
}

.calendar ul {
    margin: 0;
    padding: 0;
}

.calendar ul.calendar-formate li {
    font-family: "Poppins", "Open Sans", sans-serif;
    display: inline-block;
    padding: 10px 5px;
    text-align: center;
    line-height: 12px;
    color: #000;
    position: relative;
    list-style-type: none;
}

.calendar ul.calendar-formate li p {
    margin: 0;
}

.calendar ul.calendar-formate li .large {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.calendar ul.calendar-formate li .small {
    font-size: 10px;
    font-weight: 400;
}

.border-style-thin {
    background: linear-gradient(135deg, #28bae2 0%, magenta 100%);
}


/*---------------- Innerbox in polygone shape with gradient border colour ---------------------*/

.item-shape {
    width: 100%;
    height: 100%;
}

.item-shape .title-area {
    padding: 20px 15px;
    margin-top: 50px;
}

.item-shape .border-img {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.item-shape>img {
    width: 100%;
    max-height: 100%;
    margin-bottom: -58px;
}

.item-clip-wrap {
    padding: 0px;
    margin-top: -8px;
}

.item-clip-wrap .item-clip-each {
    width: 100%;
    height: auto;
    position: relative;
}

.item-clip-wrap .item-clip-each,
.item-clip-wrap .item-clip-each:after {
    -webkit-clip-path: polygon(35% 8%, 66% 8%, 100% -55%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 31% 0%);
    clip-path: polygon(35% 8%, 66% 8%, 100% -55%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 31% 0%);
    border-radius: 2px 2px 12px 12px;
}

.item-clip-wrap .item-clip-each::after {
    content: "";
    position: absolute;
    background: #E9F8FC;
    z-index: -1;
}

.item-clip-wrap .border-style-thin::after {
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
}

.border-style-thin::after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}

.item-clip-wrap .border-style-thin {
    background: linear-gradient(180deg, #1ad1d3 0%, #ebff00 100%);
}

.item-shape .title-area {
    padding: 20px 15px;
    margin-top: 50px;
}

.item-shape .border-img {
    width: 100%;
}

.item-shape .price-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.item-shape .price-area .price {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #231D1D;
}

.btn-radius {
    font-family: "Poppins", "Open Sans", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-radius.btn-gradient {
    background: linear-gradient(to right, rgba(255, 0, 255, 0.56), rgba(80, 187, 217, 0.79));
}